@model IEnumerable<ProjetoFinal.Models.SaidaProduto>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de saída de produto</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSaida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSaida.TipoSaidaDescricao)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-editar">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-detalhes">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-delete">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
